**/bin
**/obj
**/publish

weather.client/node_modules
weather.client/dist
weather.client/.vite

.vs/
.vscode/
*.user
*.lock.json
*.suo

**/.aspnet/https
weather.client/*.pem
weather.client/*.key

.git
.gitignore